.nkn-chat{
  position: fixed;right: 50px;bottom: 50px; z-index: 1000;
  .button{
    background-color: #3f51b5 !important;border: none;
    .count{background-color: #4CAF50 !important;height:22px;width:22px;border-radius: 11px;line-height: 22px;    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    }
  }
  .send{background-color: #2196F3 !important;border: none; margin-left: 10px;}
  .message-box{background-color: #fff !important;}
  .message-target{text-align: start;}
  .message-mine{text-align: end;}
  .time{font-size: 8px;color: #bdbdbd;}
.chat{
  position: absolute;bottom: 80px;right: 0; background-color: #eee !important;
  min-width: 400px; min-height: 500px; height: 500px;
  display: flex;flex-direction: column;
  &:before{content:'';
    position:absolute;bottom:-20px;right:24px;width:0;height:0;border-width:8px;border-style:solid;border-color:transparent;border-top-width:12px;border-top-color:currentColor;color:rgba(0, 0, 0, 0.18);
  }
  &:after{content:'';
    position: absolute;right: 26px;bottom: -16px;width: 0;height: 0;border-width: 6px;border-style: solid;border-color: transparent;border-top-width: 10px;border-top-color: currentColor;color: #eee;
  }
  .container{
    width:100%;height: auto;overflow: auto;
  }
}
  /* transform */
  .fade-enter, .fade-leave-to {
    opacity: 0
  }
  .fade-leave, .fade-enter-to {
    opacity: 1
  }
  .fade-enter-active, .fade-leave-active {
    transition: all .5s
  }
}


